.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 4px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}
.card {
  position: relative;
}
.card img {
  object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.label-container {
  position: absolute;
  left: 10px;
  bottom: 6px;
  z-index: 10;
  color: white;
}
.label-container h1 {
  font-size: 26spx;
  font-weight: 700;
}
.label-container p {
  font-size: 18px;
  font-weight: 700;
}
