* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
}
button {
  cursor: pointer;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  background-color: blue;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
