nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 1px 10px #999;
}
.nav-con {
  /* width: 100%;
  max-width: 1024px;
  margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin: 0 auto;
  padding: 10px;
}
.logo_title {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: blue;
}
.link_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.link_btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
}
.link_btn:hover {
  background-color: #9430f8;
}
