.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 8px 20px;
  backdrop-filter: blur(12px);
}
.logo_title {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: blue;
}
.link_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.link_btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
}
.link_btn:hover {
  background-color: #9430f8;
}
